<% if @parking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

    <ul>
    <% @parking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %><br />
