<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div><br />
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div><br />
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div><br />
<% end %>
